my lady:
	https://coolors.co/ffd700-006b05-120d08-00394c-ffece2
Bullshit Anything:
	I am dying
my lady:
	Why now
laura.malcolm.hopk@gmail.com:
	Me yoo
	yeet
Bullshit Anything:
	I don’t wanna do anything
	I am sleepy
my lady:
	https://coolors.co/browser/latest/1
Bullshit Anything:
	And still angered
my lady:
	Same!!!!
	Are you actually staying back??
Bullshit Anything:
	If you want help me I can, either today or tomorrow cause my cousin is picking me up on Thursday so we can hang out so I need to get that shit done
	to*
my lady:
	Don’t matter
Bullshit Anything:
	Bless you
laura.malcolm.hopk@gmail.com:
	Yummy yum
my lady:
	I still have to put mine together
Bullshit Anything:
	I need to get my life together
my lady:
	You have one of those
	What’s it like
Bullshit Anything:
	She is barley there
	Barely*
my lady:
	https://www.tiktok.com/@transboyydraco/video/6788254824690355462?u_code=98i6fh9b689bk&preview_pb=0&language=en&timestamp=1581453991&utm_campaign=client_share&app=musically&utm_medium=ios&user_id=205611816021024769&tt_from=sms&utm_source=sms&source=h5_m
	You guys need to see this
Bullshit Anything:



	How are we doing?
laura.malcolm.hopk@gmail.com:
	This hurts my brain
my lady:
	I want to kill myself so nothing new
Bullshit Anything:
	As in you don’t understand or are done with this?
laura.malcolm.hopk@gmail.com:
	We are supposed to be learning photoshop
my lady:
	I already know how to do this
Bullshit Anything:
	Yes, yes we are
laura.malcolm.hopk@gmail.com:
	AHH
Bullshit Anything:
	AHHHHHH
laura.malcolm.hopk@gmail.com:
	OR YOU CAN STFU AND GET ON WITH IT
	IDEA
Bullshit Anything:
	OML
my lady:
	KEEP MOVING BUDDY
Bullshit Anything:
	IM TOO TIRED FOR THIS
my lady:
	IM DONE WITH THIS
laura.malcolm.hopk@gmail.com:
	Ahhhhh HHH
my lady:
	GOOD LORD
Bullshit Anything:
	I wish I could go home
	M o o d
	YEET ME OFF A CLIFF
my lady:
	Im coming with
Bullshit Anything:
	HOORAY
	@media only screen and (min-width: 60em)
laura.malcolm.hopk@gmail.com:
	@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: Georgia, serif;

  background-color: #f5f2f0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

h1,
h2 {
  color: #623b0c;
  font-family: "Denk One";
}

a {
  color: #623b0c;
}

.card {
  background-color: #ede3db;
  border: 2px solid #623b0c;
  border-radius: 8px;
}
